.Word {
  padding: 30px, 5px;
  max-width: 400px;
  font-size: 30px auto;
  margin: 30px auto;
  text-align: center;
  color: #4cc85a;
}
.pos {
  padding: 10px;
}
.Phonetic {
  margin: 0 auto;
  text-align: center;
  opacity: 0.6;
}
.Definition {
  opacity: 0.8;
  padding: 10px;
  text-decoration: underline;
  text-decoration-color: #4cc85a;
}

.Synonyms {
  border: 2px solid #4cc85a;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  font-weight: bold;
  background: #4cc85a;
  color: white;
}
.Example {
  padding: 10px;
  color: black;
}
